<div class="alert" ng-class="{alertHide: !showBol}">
	<!--这里使用取反的目的是为了让弹出框出现的时候有动画,消失的时候不出现动画-->
	<div class="alert-title">
		服务说明
	</div>
	<div class="alert-content">
		<p class="title">
			邮轮餐饮预购
		</p>
		<p class="content spc">
			本航次提供邮轮餐饮产品预售，包括酒水套餐，收费餐厅套餐，卡拉ok，码头VIP服务等。
		</p>
		<p class="title">
			邮轮餐饮预购
		</p>
		<p class="content">
			本航次提供邮轮餐饮产品预售，包括酒水套餐，收费餐厅套餐，卡拉ok，码头VIP服务等。
		</p>
	</div>
</div>
<div class="alert-cover" ng-class="{alertCoverHide: showBol}" ng-click="showModel()"></div>
