<div class="swiper-container swiper-container-2">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
  		<img src="images/boat.jpg"/>
    	<p>传奇号</p>
    	<p>Meraviglia</p>
    </div>
    
    <div class="swiper-slide">
  		<img src="images/chuanqi-boat.jpg"/>
    	<p>和谐号</p>
    	<p>Armonia</p>
    </div>
    
    <div class="swiper-slide">
  		<img src="images/boat.jpg"/>
    	<p>传奇号</p>
    	<p>Meraviglia</p>
    </div>
    
    <div class="swiper-slide">
  		<img src="images/chuanqi-boat.jpg"/>
    	<p>和谐号</p>
    	<p>Armonia</p>
    </div>
    
    <div class="swiper-slide">
  		<img src="images/boat.jpg"/>
    	<p>传奇号</p>
    	<p>Meraviglia</p>
    </div>
    
    <div class="swiper-slide">
  		<img src="images/chuanqi-boat.jpg"/>
    	<p>和谐号</p>
    	<p>Armonia</p>
    </div>
  </div>
</div>